/* Typography */

h1,
h2 {
  font-family: Open Sans, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 18pt;
  color: #036;
}

body {
  font-family: Open Sans, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #6c6;;
  position: relative;
  top: 1px;
  left: 1px;
  text-decoration: underline;
}

header a,
footer a {
  color: white;
}

/* Structure */
body {
  margin: 0;
}

article > div,
article > header > *,
footer > * {
  margin: 0 auto;
  width: 900px;
}

article header {
  padding: 1em;
  
  background-color: #036;
  background: linear-gradient(#025, #047);
  color: white;
}

footer {
  padding: 1em;
  
  background-color: #036;
  background: linear-gradient(#047, #025);
  color: white;
  font-size: 10pt;
  text-align: center;
}

/* Tables of contents */

nav.toc {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

nav.toc ul {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.toc img {
  position: absolute;
  top: 0;

  border: 1px solid #999;
  height: 72px;
  width: 128px;
}

nav.toc ul p {
  font-size: 10pt;
  margin: 0 0 0 150px;
}

nav.toc ul p:first-of-type {
  font-size: 14pt;
}

nav.toc p span {
  display: block;
  font-size: 10pt;
  font-style: italic;
  margin-bottom: .5em;
}

nav.toc li {
  position: relative;
  min-height: 72px;
  margin-bottom: 1em;
}